@import '../_variables.scss';


.accolades{
	grid-template-columns: minmax(0,850px);
	grid-template-rows:auto;
	justify-items: center;
	justify-content: center;
	@media (min-width:1024px){
		@include section-shim;
	}
	.iconGrid{
		grid-row-gap:.5rem;
	}
}

@media (max-width:1024px){
		.IconBox{
		grid-template:1fr/75px 1fr;
		.iconBox{
			width:75px;
			height:75px;
		}
		p{
			font-size: 1.3rem;
		    font-weight: 800;
		    grid-column: 2/3;
		    grid-row: 1;
		    text-align: left;
		    justify-self: start;
		    line-height: 119%;
	    }
	}
}