/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.menu-toggle {
  display: inline-block;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.main-menu {
  position: absolute;
  display: none;
  right: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
  width: 80%;
  max-width: 300px;
  background: #006699;
}

@media (min-width: 768px) {
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
  }
}

.main-menu .button#apply-now {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-menu ul {
  display: grid;
  grid-template: min-content/1fr;
  grid-auto-rows: min-content;
  justify-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
  /* Hide shadow w/ -8px while 'closed' */
  /*-webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
		 -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
		      box-shadow: -8px 0 8px rgba(0,0,0,.5);*/
  min-height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .main-menu ul {
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
}

.main-menu ul li {
  width: 100%;
}

.main-menu ul li div {
  justify-items: start;
}

.main-menu ul a, .main-menu ul button {
  padding: .75em 0;
  line-height: 1em;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-align: left;
  border: none;
  display: inline-block;
  background: transparent;
}

.main-menu ul a:hover,
.main-menu ul a:focus, .main-menu ul button:hover,
.main-menu ul button:focus {
  background: #333;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .main-menu ul a, .main-menu ul button {
    color: #06c;
    border: 0 !important;
    /* Remove borders from off-canvas styling */
  }
  .main-menu ul a:hover,
  .main-menu ul a:focus, .main-menu ul button:hover,
  .main-menu ul button:focus {
    background: none;
    /* Remove background from off-canvas styling */
    color: #c00;
  }
}

.main-menu ul li.buttonArea {
  text-align: center;
  margin: 1rem auto;
}

.main-menu ul li.menu-back {
  display: grid;
  grid-template-columns: 17px 1fr;
}

.main-menu ul li.menu-back a, .main-menu ul li.menu-back button {
  border: none;
  display: inline;
  background: transparent;
}

.main-menu ul li.menu-back span {
  color: white;
  align-self: center;
  margin-left: 5px;
}

.main-menu ul li.top-level > div {
  display: grid;
  grid-template-columns: 1fr 11px;
  grid-auto-flow: column;
}

.main-menu ul li.top-level > div a, .main-menu ul li.top-level > div button {
  border: none;
  background: transparent;
  display: inline;
}

.main-menu ul li.top-level > div span {
  color: white;
  align-self: center;
}

.main-menu ul .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu.opened,
.main-menu[aria-expanded="true"] {
  display: block;
  right: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem;
}

.main-menu.opened .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
  width: 20px;
  display: block;
  height: 28px;
  font-size: 20px;
}

.main-menu.opened ul,
.main-menu[aria-expanded="true"] ul {
  z-index: 1000;
}

.main-menu.opened ul li ul,
.main-menu[aria-expanded="true"] ul li ul {
  background-color: #006699;
}

.main-menu.opened + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}
