/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.content-dialog {
  top: 90px;
}

.contentTarget a.menu-close {
  margin-bottom: .3rem;
  font-size: 25px;
  color: #191919;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}

.contentTarget .program-content-area {
  max-height: calc(100% - 170px);
  overflow-y: scroll;
  padding: 0 0 1.3rem;
}

@media (min-width: 1024px) {
  .contentTarget .program-content-area {
    max-height: none;
    overflow-y: visible;
  }
}

.contentTarget .program-content-area h4 {
  text-align: left;
  font-size: 1.5625rem;
}

.contentTarget .careerSection {
  padding: 1rem;
}

.contentTarget .program-details-area {
  padding: 1rem;
  background: #003478;
  background: -moz-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
  background: -webkit-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
  background: linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area {
    display: grid;
    align-items: start;
    grid-template: 1fr/49% 1fr 49%;
    margin: 0 0 1.3rem;
    grid-column-gap: .4rem;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
  }
  .contentTarget .program-details-area::before {
    content: '';
    width: 1px;
    grid-column: 2;
    border-right: solid 1px #ccc;
    display: inline-block;
    height: 190px;
    max-height: 94%;
    align-self: center;
  }
}

.contentTarget .program-details-area h4 {
  color: white;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area h4 {
    display: none;
  }
}

.contentTarget .program-details-area .program-info {
  display: grid;
  grid-template: auto/1fr;
  grid-auto-flow: row;
  grid-column-gap: .2rem;
  grid-row-gap: 1rem;
  align-content: start;
  border-bottom: none;
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info {
    grid-template: auto/1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    border-bottom: none;
  }
}

.contentTarget .program-details-area .program-info p {
  margin-bottom: 0;
  text-align: left;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info p {
    text-align: left;
  }
}

.contentTarget .program-details-area .program-info p strong {
  font-size: 1.1rem;
}

.contentTarget .program-details-area .program-info.program-callouts {
  display: grid;
  padding: 1.3rem 0;
  justify-content: center;
  grid-template: 1fr/ max-content;
  border-top: solid 1px #cccccc;
  grid-row-gap: .5rem;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info.program-callouts {
    grid-column: 1;
    justify-items: start;
    grid-template: auto/1fr;
    grid-auto-flow: row;
    grid-auto-columns: 50%;
    grid-row-gap: 1.3rem;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 320px;
    border-top: none;
  }
}

.contentTarget .program-details-area .program-info.program-callouts .iconStack {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-column-gap: 1.2rem;
  justify-items: start;
  align-items: center;
  max-width: none;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 0;
  z-index: 2;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info.program-callouts .iconStack {
    justify-items: start;
    max-width: none;
    margin: 0;
    grid-template: 1fr/40px 1fr;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }
}

.contentTarget .program-details-area .program-info.program-callouts .iconStack .iconBox {
  grid-column: 1/2;
  grid-row: 1;
  width: 55px;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
  background-color: white;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template: 1fr/1fr;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info.program-callouts .iconStack .iconBox {
    width: 40px;
    height: 40px;
  }
}

.contentTarget .program-details-area .program-info.program-callouts .iconStack .iconBox svg {
  width: 75%;
  height: 75%;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
}

.contentTarget .program-details-area .program-info.program-callouts .iconStack p {
  color: white;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 800;
  grid-column: 2/3;
  grid-row: 1;
  text-align: left;
  justify-self: start;
  align-self: center;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
  text-transform: capitalize;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info.program-callouts .iconStack p {
    text-align: left;
    justify-self: start;
    line-height: 1.2;
    font-size: 1.1rem;
  }
}

.contentTarget .program-details-area .program-info.program-dates {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template: 1fr/50% 50%;
  justify-items: center;
  justify-content: start;
  position: relative;
  width: 95%;
  border-top: solid 1px #cccccc;
}

.contentTarget .program-details-area .program-info.program-dates * {
  z-index: 2;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info.program-dates {
    grid-column: 3;
    grid-column-gap: .5rem;
    grid-template: auto/1fr 1fr;
    justify-items: start;
    width: auto;
    border-top: none;
  }
}

.contentTarget .program-details-area .program-info.program-dates .bg-image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  height: 100%;
  opacity: .1;
}

.contentTarget .program-details-area .program-info.program-dates .bg-image svg {
  fill: white;
  opacity: .1;
  width: 250px;
  height: 250px;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info.program-dates .bg-image svg {
    width: 250px;
    height: 250px;
  }
}

.contentTarget .program-details-area .program-info.program-dates .programInfoItem.programInfoDate {
  text-align: center;
}

.contentTarget .program-details-area .program-info.program-dates .programInfoItem.programInfoDate p {
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
  line-height: 1.2;
  text-align: center;
}

.contentTarget .program-details-area .program-info.program-dates .programInfoItem.programInfoDate p::after {
  content: '';
  width: 100%;
  display: block;
  border-bottom: solid 1px #fff;
  margin: 4px 0;
}

.contentTarget .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contentTarget .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul li {
  color: white;
  font-size: .9rem;
  font-weight: 400;
}

.contentTarget .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul li:first-child {
  font-weight: 600;
}

.contentTarget .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul li:nth-child(2) {
  fonr-weight: 200;
}

.contentTarget .program-details-area .program-info.program-dates .apply-now.button {
  grid-column: 1/3;
  justify-self: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .contentTarget .program-details-area .program-info.program-dates .apply-now.button {
    width: 100%;
    margin: 0 auto;
    min-width: auto;
  }
}

.contentTarget .program-info-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: .5rem;
  justify-content: center;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 38%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 38%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 38%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  padding-top: 2rem;
  position: fixed;
  z-index: 40000;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  left: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .contentTarget .program-info-buttons {
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    background: transparent;
  }
}

@media (min-width: 1024px) {
  .contentTarget .program-info-buttons {
    position: static;
    z-index: 1;
    padding: inherit;
  }
}

.contentTarget .program-info-buttons .apply-now.button {
  width: 100%;
}

.contentTarget .program-info-details {
  margin: 1rem 0 1.3rem;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .contentTarget .program-info-details {
    margin: 1rem 0;
  }
}
