/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.program-info {
  display: grid;
  grid-template: auto/1fr;
  grid-auto-flow: row;
  grid-column-gap: .2rem;
  grid-row-gap: 1rem;
  align-content: start;
  border-bottom: solid 1px #cccccc;
  padding: .5rem 0;
  margin: .5rem 0;
}

@media (min-width: 768px) {
  .program-info {
    grid-template: auto/1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}

.program-info p {
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .program-info p strong {
    display: inline;
  }
}

.program-info p strong {
  display: block;
  font-size: 1.1rem;
}

.program-info.program-info-area {
  padding: 1.3rem 0;
  justify-content: center;
  grid-template: 1fr/ max-content auto auto;
}

.program-info.program-info-dates {
  margin-bottom: 2rem;
  grid-column-gap: 1rem;
  grid-template: 1fr/1fr 1fr;
  justify-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .program-info.program-info-dates {
    grid-column-gap: 2rem;
  }
}

.program-info.program-info-dates .programInfoItem.programInfoDate {
  display: grid;
  grid-template: auto/max-content 1fr;
  grid-column-gap: .5rem;
}

.program-info.program-info-dates .programInfoItem.programInfoDate p {
  font-weight: 600;
}

.program-info.program-info-dates .programInfoItem.programInfoDate p::after {
  content: ':';
  display: inline-block;
  margin-left: .2rem;
}

.program-info.program-info-dates .programInfoItem.programInfoDate ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-info.program-info-dates .programInfoItem.programInfoDate ul li {
  color: #cccccc;
}

.program-info.program-info-dates .programInfoItem.programInfoDate ul li:first-child {
  font-weight: 600;
  color: black;
}

.program-info.program-info-dates .programInfoItem.programInfoDate ul li:last-child {
  color: #e5e5e5;
}
