@import '../_variables';
.content-dialog{
	top:90px;
}
.contentTarget{
	.program-content-area {
	    max-height: calc(100% - 170px);
	    overflow-y: scroll;
	    padding:0 0 1.3rem;
	    @media (min-width:1024px){
		    max-height: none;
		    overflow-y: visible;
	    }
	    h4{
		    text-align:left;
		    font-size: 1.5625rem;
	    }
	}
	.careerSection{
		 padding:1rem;
	 }
	.program-details-area{
		padding:1rem;
		@include angle-gradient;
		@media (min-width:1024px){
				display: grid;
				align-items: start;
			    grid-template: 1fr/49% 1fr 49%;
			    margin:0 0 1.3rem;
			    grid-column-gap: .4rem;
			    grid-auto-flow:column;
			    align-items:center;
			    justify-items:center;
			    &::before{
				    content: '';
				    width: 1px;
				    grid-column: 2;
				    border-right: solid 1px #ccc;
				    display: inline-block;
				    height: 190px;
				    max-height: 94%;
				    align-self: center;
			    }
			}
			h4{
				color:white;
				@media (min-width:1024px){
					display:none;
				}
			}
			.program-info{
				display: grid;
			    grid-template: auto/1fr;
			    grid-auto-flow: row;
			    grid-column-gap: .2rem;
			    grid-row-gap:1rem;
			    align-content: start;
			    border-bottom: none;
			    padding:1rem 0;
			
			    @media (min-width:1024px){
				    grid-template:auto/1fr 1fr 1fr;
				    grid-column-gap: 1.5rem;
				    border-bottom:none;
			    }
			    p{
				    margin-bottom:0;
				    text-align: left;
				    @media (min-width:1024px){
					    text-align: left;
				    }
				    strong{
					    font-size:1.1rem;
				    }
			    }
			    &.program-callouts{
				    display:grid;
				    padding: 1.3rem 0;
				    justify-content: center;
				    grid-template: 1fr/ max-content;
				    border-top:solid 1px $lightgray;
				    grid-row-gap:.5rem;
				    @media (min-width:1024px){
					    grid-column: 1;
						justify-items: start;
					    grid-template: auto/1fr;
					    grid-auto-flow: row;
					    grid-auto-columns: 50%;
					    grid-row-gap: 1.3rem;
					    margin: 0 auto;
					    padding:0;
					    width:100%;
					    max-width:320px;
					    border-top:none;		
					}
					.iconStack{
						display:grid;
						grid-template-columns:55px 1fr;
						grid-column-gap:1.2rem;
						justify-items:start;
						align-items:center;
						max-width:none;
						width:100%;
						margin: 0 auto 1rem;
						padding:0;
						z-index:2;
						@media (min-width:1024px){
							justify-items: start;
						    max-width: none;
						    margin: 0;
						    grid-template: 1fr/40px 1fr;
						    grid-auto-flow: column;
						    grid-gap: 1rem;
						}
		
						.iconBox{
							grid-column:1/2;
							grid-row:1;
							width:55px;
							height:55px;
							box-shadow: rgba(0,0,0,.5) -3px 3px 10px;
							@media (min-width:1024px){
								width: 40px;
								height: 40px;
							}
							background-color:white;
							border-radius:50%;
							align-content:center;
							justify-content:center;
							display:grid;
							grid-template:1fr/1fr;
							svg{
								width:100%;
								height:100%;
								align-self:center;
								justify-self:center;
								grid-column:1;
								grid-row:1;
								
							}
						}
						p{
							color:white;
							font-size:1.1rem;
							line-height:1.2;
							font-weight: 800;
							grid-column:2/3;
							grid-row:1;
							text-align:left;
							justify-self:start;
							align-self:center;
							margin-bottom:0;
							text-shadow:rgba(0,0,0,.5) -3px 3px 10px;
							@media (min-width:1024px){
								 text-align:left;
								 justify-self:start;
								 line-height: 1.2;
								 font-size:1.1rem;
					
							}
						}
									}
			   }
			    &.program-dates{
				    grid-column-gap: 1rem;
				    grid-row-gap:1.5rem;
				    grid-template: 1fr/50% 50%;
					justify-items: center;
					justify-content: start;
			        position:relative;
			        width:95%;
			        border-top:solid 1px $lightgray;
					*{
					    z-index:2;
					}
		
				    @media (min-width:1024px){
					    grid-column: 3;
				        grid-column-gap: .5rem;
				        grid-template: auto/1fr 1fr;
				        justify-items: start;
				        width:auto;
				        border-top:none;
					}
					.bg-image{
						position: absolute;
					    z-index: 1;
					    bottom: 0;
					    display: block;
					    text-align: center;
					    background-repeat:no-repeat;
					    background-size:contain;
					    background-position:top center;
					    width:100%;
					    height:100%;
					    opacity:.1;
					    @media (min-width:1024px){
						   
		
					    }
						svg{
							fill: white;
						    opacity: .1;
						    width:250px;
						    height:250px;
						    @media (min-width:1024px){
							    width: 250px;
								height: 250px;
						    }
							
						}
					}
				    .programInfoItem{
					    &.programInfoDate{
						    text-align:center;
						    p{
							    font-weight: 600;
							    font-size:1.1rem;
							    color:white;
							    line-height:1.2;
							    text-align:center;
							    &::after{
								    content:'';
								    width:100%;
								    display:block;
								    border-bottom:solid 1px #fff;
								    margin:4px 0;
							    }
						    }
						    ul{
							    list-style: none;
							    padding:0;
							    margin:0;
							    li{
								    color:white;
			    				    font-size:.9rem;
			    				    font-weight:400;
								    &:first-child{
									    font-weight: 600;
		
								    }
								    
								    &:nth-child(2){
									    fonr-weight:200;
								    }
								    
							    }
						    }
						     
					    }
				    }
				    .apply-now.button{
					    grid-column:1/3;
					    justify-self:center;
					    width:100%;
					    @media (min-width:1024px){
						    width: 100%;
						    margin: 0 auto;
						    min-width: auto;
					    }
				    }
			    }
			 }
	
	}
	.program-info-buttons {
	  position: fixed;
	  z-index: 40000;
	  bottom: 0;
	  width: 100%;
	  padding: .5rem 1rem;
	  left: 0;
	  margin: 0;
	  @media (min-width:1024px){
		  position:static;
		  z-index: 1;
		  padding:inherit;
	  }
	  .apply-now.button{
		  width:100%;
	  }
	}
	
	 .program-info-details{
		 margin:1rem 0 1.3rem;
		 padding: 0 1rem;
		 @media (min-width:1024px){
			 margin:1rem 0;
		 }
	 }
}