/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.content-dialog {
  top: 90px;
}

.mainArea.singleProgram {
  padding: 0;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram {
    padding: 2.3rem 1rem 2.3rem;
  }
}

.mainArea.singleProgram h3 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1.3rem;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram h3 {
    text-align: left;
  }
}

.mainArea.singleProgram h4 {
  text-align: center;
  font-size: 1.5625rem;
  color: black;
  margin-bottom: 1.3rem;
  text-transform: capitalize;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram h4 {
    text-align: left;
  }
}

.mainArea.singleProgram .program-intro {
  padding: 0;
  margin: 1.3rem auto;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-intro {
    padding: 0;
    margin-bottom: 1.3rem;
  }
}

.mainArea.singleProgram .program-info-details {
  margin-bottom: 1.3rem;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-info-details {
    margin: 0 0 1.3rem;
  }
}

.mainArea.singleProgram .careerSection {
  padding: 1rem 0;
}

.mainArea.singleProgram .program-content-area {
  max-height: calc(100% - 100px);
  overflow-y: scroll;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-content-area {
    max-height: none;
    overflow-y: visible;
  }
}

.mainArea.singleProgram .program-content-area h4 {
  text-align: left;
  font-size: 1.5625rem;
  color: black;
  margin-bottom: 1.3rem;
}

.mainArea.singleProgram .program-details-area {
  margin: 0 -1rem;
  padding: 1rem;
  background: #003478;
  background: -moz-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
  background: -webkit-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
  background: linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area {
    display: grid;
    align-items: start;
    grid-template: 1fr/49% 1fr 49%;
    margin: 0 -1.5rem 1.3rem;
    grid-column-gap: .4rem;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
  }
  .mainArea.singleProgram .program-details-area::before {
    content: '';
    width: 1px;
    grid-column: 2;
    border-right: solid 1px #ccc;
    display: inline-block;
    height: 300px;
    max-height: 76%;
    align-self: center;
  }
}

.mainArea.singleProgram .program-details-area h4 {
  color: white;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area h4 {
    display: none;
  }
}

.mainArea.singleProgram .program-details-area .program-info {
  display: grid;
  grid-template: auto/1fr;
  grid-auto-flow: row;
  grid-column-gap: .2rem;
  grid-row-gap: 1rem;
  align-content: start;
  border-bottom: none;
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info {
    grid-template: auto/1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    border-bottom: none;
  }
}

.mainArea.singleProgram .program-details-area .program-info p {
  margin-bottom: 0;
  text-align: left;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info p {
    text-align: left;
  }
}

.mainArea.singleProgram .program-details-area .program-info p strong {
  font-size: 1.1rem;
}

.mainArea.singleProgram .program-details-area .program-info.program-callouts {
  display: grid;
  padding: 1.3rem 0;
  justify-content: center;
  grid-template: 1fr/ max-content;
  border-top: solid 1px #cccccc;
  grid-row-gap: .5rem;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info.program-callouts {
    grid-column: 1;
    justify-items: start;
    grid-template: auto/1fr;
    grid-auto-flow: row;
    grid-auto-columns: 50%;
    grid-row-gap: 1.3rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 320px;
    border-top: none;
  }
}

.mainArea.singleProgram .program-details-area .program-info.program-callouts .iconStack {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-column-gap: 1.2rem;
  justify-items: start;
  align-items: center;
  max-width: none;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 0;
  z-index: 2;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info.program-callouts .iconStack {
    justify-items: start;
    max-width: none;
    margin: 0;
    grid-template: 1fr/55px 1fr;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }
}

.mainArea.singleProgram .program-details-area .program-info.program-callouts .iconStack .iconBox {
  grid-column: 1/2;
  grid-row: 1;
  width: 55px;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
  background-color: white;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template: 1fr/1fr;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info.program-callouts .iconStack .iconBox {
    width: 55px;
    height: 55px;
  }
}

.mainArea.singleProgram .program-details-area .program-info.program-callouts .iconStack .iconBox svg {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
}

.mainArea.singleProgram .program-details-area .program-info.program-callouts .iconStack p {
  color: white;
  font-size: 1.43rem;
  line-height: 1.2;
  font-weight: 800;
  grid-column: 2/3;
  grid-row: 1;
  text-align: left;
  justify-self: start;
  align-self: center;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info.program-callouts .iconStack p {
    text-align: left;
    justify-self: start;
    line-height: 1.2;
  }
}

.mainArea.singleProgram .program-details-area .program-info.program-dates {
  grid-column-gap: 1rem;
  grid-row-gap: 2.5rem;
  grid-template: 1fr/50% 50%;
  justify-items: center;
  justify-content: start;
  position: relative;
  width: 95%;
  border-top: solid 1px #cccccc;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates * {
  z-index: 2;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info.program-dates {
    grid-column: 3;
    grid-column-gap: 2rem;
    grid-template: auto/1fr 1fr;
    justify-items: start;
    width: auto;
    border-top: none;
  }
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .bg-image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  text-align: center;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info.program-dates .bg-image {
    top: -37%;
    width: 142%;
    left: -22%;
  }
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .bg-image svg {
  fill: white;
  opacity: .1;
  width: 250px;
  height: 250px;
}

@media (min-width: 1024px) {
  .mainArea.singleProgram .program-details-area .program-info.program-dates .bg-image svg {
    width: 360px;
    height: 350px;
  }
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .programInfoItem.programInfoDate {
  text-align: center;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .programInfoItem.programInfoDate p {
  font-weight: 600;
  font-size: 1.3rem;
  color: white;
  line-height: 1.2;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .programInfoItem.programInfoDate p::after {
  content: '';
  width: 100%;
  display: block;
  border-bottom: solid 1px #fff;
  margin: 4px 0;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul li {
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul li:first-child {
  font-weight: 600;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .programInfoItem.programInfoDate ul li:nth-child(2) {
  fonr-weight: 200;
}

.mainArea.singleProgram .program-details-area .program-info.program-dates .apply-now.button {
  grid-column: 1/3;
  justify-self: center;
  font-size: 1.5rem;
  padding: .3rem;
  width: 100%;
}
