@import "../_variables";

.form-cta-group{
	margin:1rem auto;
	p{
		text-align: center;
	    margin: 1rem auto;
	    font-weight: 600;
	    font-size: 1.3rem;
	}
}
.MuiContainer-root{
	@media (min-width:768px){
		width:357px;
	}
}
.MuiGrid-item{
	padding:0;
	line-height:1;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink{
	transform: translate(14px, -14px) scale(0.75)!important;
}
.MuiInputLabel-outlined{
	transform: translate(14px, 14px) scale(1)!important;
}
