/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.form-cta-group {
  margin: 1rem auto;
}

.form-cta-group p {
  text-align: center;
  margin: 1rem auto;
  font-weight: 600;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .MuiContainer-root {
    width: 357px;
  }
}

.MuiGrid-item {
  padding: 0;
  line-height: 1;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -14px) scale(0.75) !important;
}
