@import "../_variables";

.hide{
	display:none;
}
.error, .Mui-error{
	color:red;
	line-height: 1.3;
	
}
.single-program{
	&.selectControl{
		display:none;
	}
}
.formPanel{
	background-color:$shade;
	bottom:0;
	font-size:3rem;
	height: 200px;
	grid-column:1;
	left: 0;
	margin: 0 -1rem;
	order:20;
	overflow: hidden;
	padding: 1rem;
	position: relative;
	right: 0;
	top: 0;
	width: auto;
	transition:height .5s ease-out;  
	@media (min-width: 1024px) {
		bottom:0;
		grid-column:2/3;
		grid-row:1;
		height: 100vh;
		left:750px;
		left:auto;
		position: fixed;
		right: 9%;
		top: 60px;
		width:357px!important;
		z-index:99;
	}
	@media (max-width:1290px){
		left:auto;
	}
	.button{
		margin:1.5rem auto;
		padding:0;
		.MuiButton-label{
			width:auto;
		}
	}
	&:before {
		content: '';
		width: 100%;
		height: 49%;
		bottom: 0;
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		background: linear-gradient(to bottom, rgba(239,239,239,0) 0%, rgb(239, 239, 239) 100%);
	}
	&.opened{
		height:520px;
		&:before{
			content:none;
		}
	}
}
.form-cta-group{
	margin:1rem auto;
	p{
		text-align: center;
	    margin: 1rem auto;
	    font-weight: 600;
	    font-size: 1.3rem;
	}
}
.MuiContainer-root{
	@media (min-width:1024px){
		width:357px;
	}
	&.textfield{
		position: relative;
	    border-radius: 4px;
	    color: rgba(0, 0, 0, 0.87);
	    cursor: text;
	    display: inline-flex;
	    position: relative;
	    font-size: 1rem;
	    box-sizing: border-box;
	    align-items: center;
	    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	    font-weight: 400;
	    line-height: 1.1875em;
	    letter-spacing: 0.00938em;
	    .MuiOutlinedInput-inputMarginDense {
		    padding-top: 10.5px;
		    padding-bottom: 10.5px;
		}
		.MuiOutlinedInput-input {
		    padding: 18.5px 14px;
		}
		.MuiInputBase-inputMarginDense {
		    padding-top: 3px;
		}
		.MuiInputBase-input {
		    font: inherit;
		    color: currentColor;
		    width: 100%;
		    border: 0;
		    height: 1.1875em;
		    margin: 0;
		    display: block;
		    padding: 6px 0 7px;
		    min-width: 0;
		    background: none;
		    box-sizing: content-box;
		    animation-name: mui-auto-fill-cancel;
		    -webkit-tap-highlight-color: transparent;
		}
	}
	
	.MuiSelect-selectMenu{
		max-width:330px;
	}
}
.MuiPaper-root {
  background: #fff;
  padding: 8px;
}
.MuiPaper-rounded {
  border-radius: 4px;
}
.MuiList-root {
  margin: 0;
  padding: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  list-style: none;
}
.MuiList-padding {
  padding-top: 8px;
  padding-bottom: 8px;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.MuiMenuItem-root{
  width: auto;
  overflow: hidden;
  font-size: 1rem;
  box-sizing: border-box;
  min-height: 48px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  /*! line-height: 1.5; */
  padding-top: 6px;
  white-space: normal;
  letter-spacing: 0.00938em;
  padding-bottom: 6px;
  display: block;
  padding: 6px 10px 0;
}
.MuiGrid-item{
	padding:0;
	line-height:43px;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink{
	transform: translate(14px, -14px) scale(0.75)!important;
}
.MuiInputLabel-outlined{
	transform: translate(14px, 14px) scale(1)!important;
}
.successContainer{
	background:$shade;
	width:100%;
	padding: 6vh 1rem;
}
#programs-label.MuiInputLabel-shrink{
	display:none;
}
.formBox{
	position:relative;
	padding: 0;

	@media (min-width: 768px) {
		//width:355px;
		height: 100%;
		overflow-y: auto;
	}
	h2{
		text-align:center;
		margin:0 auto .5rem;
		line-height:1.4;
		font-size:1.7rem;
	}
	.ctpaText{
		margin-top:1rem;
		p{
			font-size:.6rem;
			line-height:1rem;
		}
	}
	.ctaSection{
		text-align:center;
		display:none;
		@media (min-width:1024px){
			display:block;
		}
		a{
			font-size:1.6rem;
			font-weight:600;
			text-decoration:none;
			color:$brandblue;
		}
		span{
			font-size:1.3rem;
			font-weight:600;
			text-decoration:none;
			color:$brandblue;
		}
	}
	.spacer{
		display: block; 
		content: " "; 
		margin-top: 0px; 
		height: 0px; 
		visibility: hidden; 
		pointer-events: none;
		@media (min-width:768px){
		  height:85px;
		  margin-top:-85px;
		}
	}
}
.form_overlay{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background:rgba(255,255,255,.8);
    z-index: 1000;
    text-align: center;
    padding-top: 50%;
    .MuiCircularProgress-colorPrimary{
	    color:$brandmediumblue;
    }
}
