@import "../_variables";
.hide{
	display:none;
}
.form-cta-group{
	margin:1rem auto;
	p{
		text-align: center;
	    margin: 1rem auto;
	    font-weight: 600;
	    font-size: 1.3rem;
	}
}
.MuiContainer-root{
	@media (min-width:768px){
		width:357px;
	}
}
.MuiGrid-item{
	padding:0;
	line-height:1;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink{
	transform: translate(14px, -14px) scale(0.75)!important;
}
.MuiInputLabel-outlined{
	transform: translate(14px, 14px) scale(1)!important;
}
.successContainer{
	background:$shade;
	width:100%;
	padding: 6vh 1rem;
}
.formBox{
	position:relative;
}
.form_overlay{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background:rgba(255,255,255,.8);
    z-index: 1000;
    text-align: center;
    padding-top: 50%;
    .MuiCircularProgress-colorPrimary{
	    color:$brandmediumblue;
    }
}
