/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
@media (min-width: 1024px) {
  .mainArea {
    display: grid;
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .mainArea {
    grid-template-columns: minmax(0, 725px) calc(340px + 5%);
  }
}

@media (min-width: 1024px) and (min-width: 1401px) {
  .mainArea {
    grid-template-columns: minmax(0, 800px) calc(340px + 5%);
  }
}
