@import "../_variables";

.HeroBox{
	display:grid;
	grid-template: auto 1fr/1fr;
	justify-items:center;
	@media (min-width:768px){
		@include section-shim;
	}
}

.hero-button{
	width: 75vw;
	@media (min-width:768px){
		width:auto;
		display:none;
	}
}