/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.HeroBox {
  display: grid;
  grid-template: auto 1fr/1fr;
  justify-items: center;
  color: white;
  background-image: none;
  background: #003478;
  background: -moz-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
  background: -webkit-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
  background-image: linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
  margin: 0 -1rem 0;
  padding: 1rem;
  position: relative;
}

@media (min-width: 768px) {
  .HeroBox::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .HeroBox {
    padding: 1.5rem 0;
    margin-bottom: 0;
    display: grid;
    justify-content: center;
  }
  .HeroBox * {
    z-index: 3;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .HeroBox {
    grid-template-columns: minmax(0, 725px) calc(340px + 5%);
  }
}

@media (min-width: 1024px) and (min-width: 1401px) {
  .HeroBox {
    grid-template-columns: minmax(0, 800px) calc(340px + 5%);
  }
}

@media (max-width: 768px) {
  .HeroBox {
    background: -moz-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
    background: -webkit-linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%);
    background-image: linear-gradient(78deg, #003478 -2%, #006699 50%, #003478 91%) !important;
  }
}

.HeroBox .desktop-shim {
  display: grid;
  grid-template: auto/1fr;
}

.HeroBox .desktop-shim.special-insert {
  grid-template: auto/min-content 1fr;
}

@media (min-width: 768px) {
  .HeroBox .desktop-shim.special-insert {
    grid-template: auto/170px 1fr;
  }
}

.HeroBox .desktop-shim.special-insert .specialty-badge {
  width: 112px;
  height: 112px;
  grid-row: 1;
  grid-column: 1;
  z-index: 3;
  align-self: center;
  justify-self: center;
}

@media (min-width: 768px) {
  .HeroBox .desktop-shim.special-insert .specialty-badge {
    width: 170px;
    height: 170px;
    grid-row: 1/3;
  }
}

.HeroBox .desktop-shim.special-insert .specialty-badge svg {
  width: 100%;
  height: 100%;
}

.HeroBox .desktop-shim.special-insert h1, .HeroBox .desktop-shim.special-insert .hero-button-area {
  grid-column: 2;
  grid-row: 1;
}

@media (min-width: 768px) {
  .HeroBox .desktop-shim.special-insert h1, .HeroBox .desktop-shim.special-insert .hero-button-area {
    grid-column: 2;
  }
}

.HeroBox .desktop-shim h1 {
  font-size: 9.5vw;
  line-height: 1.1;
  color: white;
  z-index: 2;
  text-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
}

@media (min-width: 1024px) {
  .HeroBox .desktop-shim h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0 auto 1.5rem;
    width: 100%;
  }
}

.HeroBox .desktop-shim h2 {
  color: white;
  margin: 0 auto 1rem;
  font-size: 7.2vw;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  .HeroBox .desktop-shim h2 {
    font-size: 2.1rem;
    line-height: 1.2;
  }
}

.HeroBox .desktop-shim .HeroBullets {
  font-size: 5vw;
  line-height: 1.1;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .HeroBox .desktop-shim .HeroBullets {
    font-size: 1.4rem;
  }
}

.HeroBox .desktop-shim .HeroBullets ul {
  margin-top: .5rem;
}

@media (min-width: 1024px) {
  .HeroBox .desktop-shim .HeroBullets ul {
    margin-top: 0;
  }
}

.HeroBox .desktop-shim .HeroBullets ul li {
  font-size: 5vw;
  line-height: 1.1;
}

@media (min-width: 1024px) {
  .HeroBox .desktop-shim .HeroBullets ul li {
    font-size: 1.4rem;
  }
}

.iconGrid {
  display: grid;
  grid-template: 1fr/auto;
  grid-auto-flow: column;
  justify-items: start;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  grid-column-gap: 2rem;
  grid-column: 1/3;
}

@media (min-width: 1024px) {
  .iconGrid {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 1fr;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    margin: 0 auto;
    padding: 0;
    justify-self: center;
    grid-column-gap: 1rem;
  }
}

.iconGrid .iconStack {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-column-gap: 1.2rem;
  justify-items: center;
  align-items: center;
  max-width: none;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 0;
  z-index: 2;
}

.iconGrid .iconStack .iconBox {
  grid-column: 1;
  grid-row: 1;
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
  background-color: white;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template: 1fr/1fr;
}

@media (min-width: 1024px) {
  .iconGrid .iconStack .iconBox {
    grid-column: 1;
    grid-row: 1/2;
  }
}

.iconGrid .iconStack .iconBox svg {
  width: 75%;
  height: 75%;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
}

.iconGrid .iconStack p {
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 800;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin-bottom: 0;
  text-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
}

@media (min-width: 1024px) {
  .iconGrid .iconStack p {
    text-align: center;
    justify-self: center;
    line-height: 1.2;
    grid-column: 1;
    grid-row: 2/3;
    max-width: 75%;
  }
}

@media (min-width: 1024px) {
  .iconGrid .iconStack {
    justify-items: center;
    max-width: 75%;
    margin: 0.5rem auto 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.hero-button {
  padding: 1rem 0;
  width: 80%;
  width: 75vw;
  margin: 0 auto;
  grid-column: 1/3;
}

@media (min-width: 768px) {
  .hero-button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hero-button {
    width: auto;
    display: none;
  }
}
