/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
@media (min-width: 768px) {
  .tabbedArea {
    display: grid;
    grid-template-columns: minmax(0, 850px) calc(315px + 5%);
    justify-content: center;
  }
}

.tabPanel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 20%));
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 20%);
  justify-items: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  border-bottom: solid 3px #e5e5e5;
}

.tabPanel li {
  margin: 0;
  border: solid 1px #e5e5e5;
  border-top: none;
  width: 100%;
  height: 100%;
  text-align: left;
  font-weight: 500;
  font-size: .9rem;
  color: #333;
  display: grid;
  align-items: center;
}

.tabPanel li:hover, .tabPanel li:focus {
  background-color: #003478;
  color: white;
}

.tabPanel li a {
  text-decoration: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.2;
  display: block;
  padding: 0.2rem 0.8rem;
  color: inherit;
  text-transform: uppercase;
}

.tabPanel li:first-child {
  border-left: none;
}

.tabPanel li:last-child {
  border-right: none;
}

.tabPanel.vertical {
  display: grid;
  padding: 0;
  margin: 2rem 0 0;
  grid-template: min-content/1fr;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  max-height: 300px;
  border-bottom: none;
}

.tabPanel.vertical li {
  margin: 0 auto;
  grid-template: 1fr/1fr 35px;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #cccccc;
  font-size: .8rem;
  font-weight: 500;
  display: grid;
}

.tabPanel.vertical li.leader {
  border: none;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 0.3rem 0.5rem;
  font-weight: 900;
}

.tabPanel.vertical li.leader:hover, .tabPanel.vertical li.leader:focus {
  background-color: inherit;
  color: inherit;
}

.tabPanel.vertical li a {
  display: block;
  padding: 1rem 0 1rem 0.5rem;
  font-size: inherit;
  line-height: inherit;
}

.tabPanel.vertical li.selected {
  border-top: solid 1px #cccccc;
  background-color: #f4f4f4;
}

.tabPanel.vertical li.selected:hover, .tabPanel.vertical li.selected:focus {
  pointer-events: none;
}

.tabPanel.vertical li.selected::after {
  content: '';
  width: 20px;
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: #0e356f;
}

.tabPanel .selected {
  background-color: #e5e5e5;
  color: #0e356f;
  font-weight: 600;
}

.tabPanel .selected a {
  color: inherit;
  font-weight: 600;
}

.tabPanel .selected:hover, .tabPanel .selected:focus {
  pointer-events: none;
}

.contentPanel {
  display: none;
  opacity: 0;
  transition: .5s;
  padding: 1.6rem 2.3rem;
  max-width: 1000px;
  margin: 0 auto;
}

.contentPanel h3 {
  font-size: 1.8rem;
  line-height: 1.4;
}

.contentPanel.selected {
  display: block;
  opacity: 1;
  transition: .5s;
}

.contentPanel.selected.nested {
  display: block;
  padding: 0;
  max-width: 100%;
}

.contentPanel.selected.nested .nestedContentPanel {
  display: grid;
  grid-template: 1fr/25% 75%;
  grid-column-gap: 1rem;
  padding: 0;
}

.panelContainer {
  display: none;
  opacity: 0;
  transition: .5s;
  grid-template: 1fr/25% 75%;
  grid-column-gap: 1rem;
}

.panelContainer.selected {
  display: grid;
  opacity: 1;
}

@media (max-width: 768px) {
  .contentPanel {
    display: block;
    opacity: 1;
    padding: 0;
  }
  .contentPanel h3 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    display: none;
  }
  .contentPanel > .accordion-trigger {
    border-bottom: solid 2px #cccccc;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    justify-items: start;
  }
  .contentPanel > .accordion-trigger::after {
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 200;
    content: "\F078";
    font-size: 1.3rem;
    color: #0e356f;
  }
  .contentPanel > .accordion-trigger h4.tab {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    margin: 0 auto;
    line-height: 1.2;
    padding: 0.8rem 0.5rem;
    text-align: left;
    width: 100%;
  }
  .contentPanel p, .contentPanel li {
    font-size: 1rem;
  }
  .contentPanel .ql-size-small {
    font-size: .8rem;
  }
  .contentPanel .contentTarget {
    display: none;
    opacity: 0;
    margin: 1rem 0 2rem;
  }
  .contentPanel.selected .contentTarget {
    display: block;
    opacity: 1;
  }
  .contentPanel.nested.selected {
    display: block;
  }
  .contentPanel.nested.selected > .accordion-trigger {
    border-bottom: solid 2px #cccccc;
  }
  .contentPanel.nested.selected > .accordion-trigger::after {
    display: block;
    font-family: "Font Awesome 5 Free";
    font-weight: 200;
    content: "\F077";
    font-size: 1.3rem;
    color: #666;
  }
  .contentPanel.nested.selected > .accordion-trigger h4 {
    color: #666;
  }
  .contentPanel.nested.selected .nestedContentPanel {
    display: block;
  }
  .contentPanel.nested.selected .nestedContentPanel .contentTarget {
    display: none;
  }
  .contentPanel.nested .nestedContentPanel {
    display: none;
  }
  .contentPanel.nested .nestedContentPanel .accordion-trigger {
    grid-template-columns: 1fr;
    border-bottom-width: 1px;
  }
  .contentPanel.nested .nestedContentPanel .accordion-trigger::after {
    content: none;
  }
  .contentPanel.nested .nestedContentPanel .accordion-trigger h4.tab {
    font-size: 1.1rem;
    font-weight: 400;
    background-color: transparent;
    border-bottom: solid 1px #e5e5e5;
    margin: 0 auto;
    width: 100%;
    padding: 0.8rem 0.5rem 0.8rem 1.7rem;
    line-height: 1.3;
  }
  .contentPanel.nested .nestedContentPanel .contentPanel.selected h4.tab {
    color: #666;
    font-weight: 600;
  }
  .contentPanel.nested .contentPanel.selected {
    display: block;
    opacity: 1;
  }
  .contentPanel.nested .contentPanel.selected .contentTarget {
    display: block;
    opacity: 1;
  }
}
