@import "../_variables";

.tabbedArea{
	padding:0 0 3rem;
	@media (min-width:1024px){
		@include section-shim;
		padding:0rem 1rem 3rem;
		
	}
	.tab{
		border-bottom:none;
	}
}
.tabPanel{
	display:grid;
	grid-template:minmax(3rem,1fr)/repeat(auto-fit, minmax(100px,1fr));
	grid-auto-flow:column;
	grid-auto-columns:minmax(100px,1fr);
	justify-items:center;
	align-items:center;
	list-style:none;
	padding:0;
	margin: 0;
	overflow:visible;
	border-bottom: solid 3px $perulightgray;
	li{

		margin:0;
		border:solid 1px $perulightgray;
		border-top:none;
		width:100%;
		height:100%;
		text-align: left;
		font-weight: 500;
		font-size: .9rem;
		color:#333;
		display: grid;
		align-items:center;
		&:hover,&:focus{
			background-color:$brandmediumblue;
			color:white;
		}
		a{
			text-decoration: none;
			text-align:center;
			font-weight: inherit;
			font-size: inherit;
			line-height:1.2;
			display: block;
			padding: .2rem .8rem;
		    color: inherit;
		    text-transform: uppercase;

		}
		&:first-child{
			border-left:none;
		}
		&:last-child{
			border-right:none;
		}
		&.selected{
			background-color:$perulightgray;
			color:$secondaryblue;
			font-weight:600;
			a{
				color:inherit;
				font-weight:600;				
			}
			&:hover,
			&:focus{
				pointer-events: none;
				background-color:$perulightgray;
				color:$secondaryblue;
			}
		}
	}
	
	&.vertical{
		display: grid;
	    padding: 0;
	    margin: 0;
	    grid-template: min-content/1fr;
	    grid-auto-flow: row;
	    grid-auto-rows: min-content;

	    border-bottom:none;
	    @media (min-width:1024px){
		    margin-top:2rem;
    	    max-height:300px;
	    }
	    
		li{
			margin:0 auto;
			grid-template:1fr/1fr 35px;
			border-left:none;
			border-right:none;
			border-bottom:solid 1px $lightgray;
			font-size:.8rem;
			font-weight:500;
			display:grid;
			&.leader{
				border:none;
				text-transform: uppercase;
				font-size:.9rem;
				padding: .3rem .5rem;
				font-weight: 900;
				display:none;
				&:hover,&:focus{
					background-color:inherit;
					color: inherit;
				}
				@media (min-width:1024px){
					display:block;
				}
			}
			a{
				font-size: 1.1rem;
				font-weight: 400;
				background-color:transparent;
				margin: 0 auto;
				width: 100%;
				padding: .8rem .5rem;
				line-height: 1.3;
				color:$brandmediumblue;
				text-align: left;
				text-transform: none;
				@media (min-width:1024px){
					display: block;
					padding:1rem 0 1rem .5rem;
					font-size: inherit;
					line-height: inherit;
					text-transform: uppercase;
				}
				&:hover{
					background-color:$brandmediumblue;
					color:white;
				}
				

			}
			&>span {

			    display: none;
			
			}
			&.selected{
				border-top:solid 1px $lightgray;
				background-color:#f4f4f4;
				&:hover,&:focus{
					background-color:#f4f4f4;
					pointer-events: none;
				}
				a{
					&:hover{
						color:$brandmediumblue;
						background-color:#f4f4f4;
						pointer-events: none;
					}
				}
				&>span {

				    @media (min-width:1024px){
					    display: block;
					    width: 90%;
					    text-align: right;
					}
				
				}


			}
		}
	}

	
	
}
.contentPanel{
	display:none;
	opacity: 0;
	padding:1.6rem;
	max-width:1000px;
	margin:0 auto;
	@media (min-width: 1024px){
		padding: 1.6rem 1.6rem 0;
		padding:0;
	}
	h3{
		font-size:1.5rem;
		line-height:1.7;
		padding:1.3rem 1rem 0;
		@media (min-width:1024px){
			font-size:1.8rem;
			line-height: 1.2;
			text-align:left;
			margin-bottom:1.3rem;
		}
	}
	&.selected{
		display:block;
		opacity: 1;
		transition:opacity 2s;
		&.nested{
			display:block;
			padding:0;
			max-width:100%;
			
		}
		.nestedContentPanel{
				display:grid;
				grid-template:1fr/25% 75%;
				grid-column-gap: 1rem;	
				padding: 0;							
			}
	}
	
}
.panelContainer{
	display:none;
	opacity: 0;
	transition:.5s;
	&.selected{
		display:grid;
		opacity:1;
	}
	grid-template:1fr/25% 75%;
	grid-column-gap: 1rem;
}

@media (max-width:1024px){
	
	.contentPanel{
		display:block;
		opacity:1;
		padding:0;
		h3{
			font-size:1.5rem;
			line-height:1.7rem;
		}
		&>.accordion-trigger{
			border-bottom: solid 2px $lightgray;
			display: grid;
			grid-template-columns: 1fr 30px;
			align-items: center;
			justify-items: start;
			h4{
				&.tab{
					font-size:1.2rem;
					font-weight:600;
					background-color:transparent;
					margin:0 auto;
					line-height: 1.2;
					padding: .8rem .5rem;
					text-align: left;
					width:100%;
				}
			}
		}
		p,li{
			font-size:1rem;
		}
		.ql-size-small{
				font-size: .8rem;
			}
		.contentTarget{
			display:none;
			opacity:0;
		    margin: 1rem 0 2rem;
			
		}
		.nestedContentPanel{
			//display:none;
			height:0;
			overflow-y:hidden;
			.accordion-trigger{
				grid-template-columns: 1fr;
				border-bottom-width: 1px;
				&::after{
					content:none;
				}
				h4{
					&.tab{
						font-size:1.1rem;
						font-weight:400;
						background-color:transparent;
						margin:0 auto;
						width:100%;
						padding:.8rem .5rem .8rem 1.7rem;
						line-height:1.3;
					}
					
				}
									
			}
			.contentPanel{
				&.selected{
					.accordion-trigger{
						border-bottom:none;
						h4{
							&.tab{
								//color:$mediumgray;
								font-weight: 600;
								padding:.8rem .5rem;
								border-bottom:none;
								font-size:1.2rem;
							}
						}
					}
					
				}
				&:last-child{

					.accordion-trigger{
						border-bottom:none;
					}

				}
			}
				
		}
		&.selected{
			display:block;
			opacity:1;
			.contentTarget{
				display:block;
				opacity:1;
				margin-top:0rem;
				margin-bottom: 0rem;
				border-bottom:solid 1px $lightgray;
				background-color:white;
				position: fixed;
				top: 90px;
				left: 0;
				bottom: 0;
				z-index: 40000;
				padding: 1rem;
				box-shadow:0px -40px 0px rgba(0,0,0,.7);
			}	
			&>.accordion-trigger{
				display:none;
				border-bottom: solid 2px $lightgray;
				background-color:$lightgray;
				h4{
					color:$mediumgray;
				}
				svg{
					transform:rotate(180deg);
					color:$mediumgray;
				}
			}
			.nestedContentPanel{
				display:block;
				border: solid 2px $lightgray;
				padding: 0;
				height:auto;
				.contentTarget{
					display:none;
				}
				.selected .contentTarget{
					display:block;
					opacity:1;
					margin-top:0rem;
					margin-bottom: 0rem;
					border-bottom:solid 1px $lightgray;
					background-color:white;
					position: fixed;
					top: 90px;
					left: 0;
					bottom: 0;
					z-index: 40000;
					padding: 0rem;
				}
				.accordion-trigger{
					display:none!important;
				}
			}
		}
			


			
		
	}
	.accordion-trigger.mobile-only{
		display:grid!important;
	}
}
