/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.tabbedArea {
  padding: 0 0 3rem;
}

@media (min-width: 1024px) {
  .tabbedArea {
    display: grid;
    justify-content: center;
    padding: 0rem 1rem 3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .tabbedArea {
    grid-template-columns: minmax(0, 725px) calc(340px + 5%);
  }
}

@media (min-width: 1024px) and (min-width: 1401px) {
  .tabbedArea {
    grid-template-columns: minmax(0, 800px) calc(340px + 5%);
  }
}

.tabbedArea .tab {
  border-bottom: none;
}

.tabPanel {
  display: grid;
  grid-template: minmax(3rem, 1fr)/repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 1fr);
  justify-items: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  border-bottom: solid 3px #e5e5e5;
}

.tabPanel li {
  margin: 0;
  border: solid 1px #e5e5e5;
  border-top: none;
  width: 100%;
  height: 100%;
  text-align: left;
  font-weight: 500;
  font-size: .9rem;
  color: #333;
  display: grid;
  align-items: center;
}

.tabPanel li:hover, .tabPanel li:focus {
  background-color: #003478;
  color: white;
}

.tabPanel li a {
  text-decoration: none;
  text-align: center;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.2;
  display: block;
  padding: 0.2rem 0.8rem;
  color: inherit;
  text-transform: uppercase;
}

.tabPanel li:first-child {
  border-left: none;
}

.tabPanel li:last-child {
  border-right: none;
}

.tabPanel li.selected {
  background-color: #e5e5e5;
  color: #0e356f;
  font-weight: 600;
}

.tabPanel li.selected a {
  color: inherit;
  font-weight: 600;
}

.tabPanel li.selected:hover,
.tabPanel li.selected:focus {
  pointer-events: none;
  background-color: #e5e5e5;
  color: #0e356f;
}

.tabPanel.vertical {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template: min-content/1fr;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  border-bottom: none;
}

@media (min-width: 1024px) {
  .tabPanel.vertical {
    margin-top: 2rem;
    max-height: 300px;
  }
}

.tabPanel.vertical li {
  margin: 0 auto;
  grid-template: 1fr/1fr 35px;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #cccccc;
  font-size: .8rem;
  font-weight: 500;
  display: grid;
}

.tabPanel.vertical li.leader {
  border: none;
  text-transform: uppercase;
  font-size: .9rem;
  padding: 0.3rem 0.5rem;
  font-weight: 900;
  display: none;
}

.tabPanel.vertical li.leader:hover, .tabPanel.vertical li.leader:focus {
  background-color: inherit;
  color: inherit;
}

@media (min-width: 1024px) {
  .tabPanel.vertical li.leader {
    display: block;
  }
}

.tabPanel.vertical li a {
  font-size: 1.1rem;
  font-weight: 400;
  background-color: transparent;
  margin: 0 auto;
  width: 100%;
  padding: 0.8rem 0.5rem;
  line-height: 1.3;
  color: #003478;
  text-align: left;
  text-transform: none;
}

@media (min-width: 1024px) {
  .tabPanel.vertical li a {
    display: block;
    padding: 1rem 0 1rem 0.5rem;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
  }
}

.tabPanel.vertical li a:hover {
  background-color: #003478;
  color: white;
}

.tabPanel.vertical li > span {
  display: none;
}

.tabPanel.vertical li.selected {
  border-top: solid 1px #cccccc;
  background-color: #f4f4f4;
}

.tabPanel.vertical li.selected:hover, .tabPanel.vertical li.selected:focus {
  background-color: #f4f4f4;
  pointer-events: none;
}

.tabPanel.vertical li.selected a:hover {
  color: #003478;
  background-color: #f4f4f4;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .tabPanel.vertical li.selected > span {
    display: block;
    width: 90%;
    text-align: right;
  }
}

.contentPanel {
  display: none;
  opacity: 0;
  padding: 1.6rem;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .contentPanel {
    padding: 1.6rem 1.6rem 0;
    padding: 0;
  }
}

.contentPanel h3 {
  font-size: 1.5rem;
  line-height: 1.7;
  padding: 1.3rem 1rem 0;
}

@media (min-width: 1024px) {
  .contentPanel h3 {
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 1.3rem;
  }
}

.contentPanel.selected {
  display: block;
  opacity: 1;
  transition: opacity 2s;
}

.contentPanel.selected.nested {
  display: block;
  padding: 0;
  max-width: 100%;
}

.contentPanel.selected .nestedContentPanel {
  display: grid;
  grid-template: 1fr/25% 75%;
  grid-column-gap: 1rem;
  padding: 0;
}

.panelContainer {
  display: none;
  opacity: 0;
  transition: .5s;
  grid-template: 1fr/25% 75%;
  grid-column-gap: 1rem;
}

.panelContainer.selected {
  display: grid;
  opacity: 1;
}

@media (max-width: 1024px) {
  .contentPanel {
    display: block;
    opacity: 1;
    padding: 0;
  }
  .contentPanel h3 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .contentPanel > .accordion-trigger {
    border-bottom: solid 2px #cccccc;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    justify-items: start;
  }
  .contentPanel > .accordion-trigger h4.tab {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    margin: 0 auto;
    line-height: 1.2;
    padding: 0.8rem 0.5rem;
    text-align: left;
    width: 100%;
  }
  .contentPanel p, .contentPanel li {
    font-size: 1rem;
  }
  .contentPanel .ql-size-small {
    font-size: .8rem;
  }
  .contentPanel .contentTarget {
    display: none;
    opacity: 0;
    margin: 1rem 0 2rem;
  }
  .contentPanel .nestedContentPanel {
    display: none;
  }
  .contentPanel .nestedContentPanel .accordion-trigger {
    grid-template-columns: 1fr;
    border-bottom-width: 1px;
  }
  .contentPanel .nestedContentPanel .accordion-trigger::after {
    content: none;
  }
  .contentPanel .nestedContentPanel .accordion-trigger h4.tab {
    font-size: 1.1rem;
    font-weight: 400;
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    padding: 0.8rem 0.5rem 0.8rem 1.7rem;
    line-height: 1.3;
  }
  .contentPanel .nestedContentPanel .contentPanel.selected .accordion-trigger {
    border-bottom: none;
  }
  .contentPanel .nestedContentPanel .contentPanel.selected .accordion-trigger h4.tab {
    font-weight: 600;
    padding: 0.8rem 0.5rem;
    border-bottom: none;
    font-size: 1.2rem;
  }
  .contentPanel .nestedContentPanel .contentPanel:last-child .accordion-trigger {
    border-bottom: none;
  }
  .contentPanel.selected {
    display: block;
    opacity: 1;
  }
  .contentPanel.selected .contentTarget {
    display: block;
    opacity: 1;
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-bottom: solid 1px #cccccc;
    background-color: white;
    position: fixed;
    top: 90px;
    left: 0;
    bottom: 0;
    z-index: 40000;
    padding: 1rem;
  }
  .contentPanel.selected > .accordion-trigger {
    display: none;
    border-bottom: solid 2px #cccccc;
    background-color: #cccccc;
  }
  .contentPanel.selected > .accordion-trigger h4 {
    color: #666;
  }
  .contentPanel.selected > .accordion-trigger svg {
    transform: rotate(180deg);
    color: #666;
  }
  .contentPanel.selected .nestedContentPanel {
    display: block;
    border: solid 2px #cccccc;
    padding: 0;
  }
  .contentPanel.selected .nestedContentPanel .contentTarget {
    display: none;
  }
  .contentPanel.selected .nestedContentPanel .selected .contentTarget {
    display: block;
    opacity: 1;
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-bottom: solid 1px #cccccc;
    background-color: white;
    position: fixed;
    top: 90px;
    left: 0;
    bottom: 0;
    z-index: 40000;
    padding: 0rem;
  }
  .contentPanel.selected .nestedContentPanel .accordion-trigger {
    display: none !important;
  }
  .accordion-trigger.mobile-only {
    display: grid !important;
  }
}
