.RRT__container{
	display:grid;
	grid-template:1fr/220px 1fr;
	margin-bottom:2rem;
	
	}
.RRT__tabs{
	display:block;
	width:220px;
}
.RRT__tab{
	background-color:white;
	border:none;
	border-bottom:solid 1px #ccc;
	white-space: normal;
	font-size: .8rem;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 1rem;
    }
.RRT__tab--selected,.RRT__tab--selected:focus{
	background-color:#055591;
	color:white;
}
.RRT__panel{
	border: none;
	
}
p, li{
	font-family: sans-serif;
	font-size:.8rem;
	margin:0 0 .5rem;
	
}