.mediaViewInfo {
	--web-view-name: Mobile, Homepage with Apply Now Banner;
	--web-view-id: Mobile_Homepage_with_Apply_Now_Banner;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Mobile_Homepage_with_Apply_Now_Banner;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Mobile_Homepage_with_Apply_Now_Banner {
	position: absolute;
	width: 375px;
	height: 667px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Mobile, Homepage with Apply Now Banner;
	--web-view-id: Mobile_Homepage_with_Apply_Now_Banner;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#iStock-1172587378 {
	position: absolute;
	width: 721.5px;
	height: 481px;
	left: -138px;
	top: -27px;
	overflow: visible;
}
#Rectangle_8 {
	opacity: 0.75;
	fill: rgba(50,59,74,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 386px;
	height: 404px;
	left: -5px;
	top: 50px;
}
#Rectangle_1 {
	fill: rgba(0,102,153,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.078));
	position: absolute;
	overflow: visible;
	width: 405px;
	height: 90px;
	left: 0px;
	top: 24px;
}
#Rectangle_25 {
	fill: rgba(38,38,38,1);
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 26px;
	left: 0px;
	top: 0px;
}
#Group_3 {
	position: absolute;
	width: 158.355px;
	height: 46.605px;
	left: 8px;
	top: 32px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 48.098px;
	height: 46.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(255,255,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 12.952px;
	height: 17.305px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 9.688px;
	height: 12.261px;
	left: 12.284px;
	top: 5.379px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(255,255,255,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 8.753px;
	height: 11.994px;
	left: 21.504px;
	top: 5.345px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4 {
	fill: rgba(255,255,255,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 12.996px;
	height: 12.16px;
	left: 30.101px;
	top: 5.479px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
	fill: rgba(255,255,255,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 10.591px;
	height: 18.144px;
	left: 5.168px;
	top: 18.872px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
	fill: rgba(255,255,255,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 7.46px;
	height: 15.635px;
	left: 15.124px;
	top: 21.281px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: rgba(255,255,255,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 10.557px;
	height: 12.295px;
	left: 22.273px;
	top: 24.62px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
	fill: rgba(255,255,255,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 7.483px;
	height: 15.635px;
	left: 31.227px;
	top: 21.281px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9 {
	fill: rgba(255,255,255,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 9.698px;
	height: 12.264px;
	left: 37.975px;
	top: 24.685px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
	fill: rgba(255,255,255,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 5.345px;
	height: 6.047px;
	left: 24.211px;
	top: 38.453px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: rgba(255,255,255,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 3.912px;
	height: 4.11px;
	left: 29.788px;
	top: 40.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
	fill: rgba(255,255,255,1);
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 2.071px;
	height: 6.314px;
	left: 33.665px;
	top: 38.052px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
	fill: rgba(255,255,255,1);
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 2.071px;
	height: 6.314px;
	left: 35.77px;
	top: 38.052px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_14 {
	fill: rgba(255,255,255,1);
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 3.241px;
	height: 4.109px;
	left: 37.775px;
	top: 40.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
	fill: rgba(255,255,255,1);
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 6.281px;
	left: 41.148px;
	top: 40.324px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_16 {
	fill: rgba(255,255,255,1);
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 3.241px;
	height: 4.109px;
	left: 44.857px;
	top: 40.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 17.406px;
	height: 0.434px;
	left: 5.168px;
	top: 41.359px;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 0.668px;
	height: 31.962px;
	left: 56.911px;
	top: 7.323px;
}
#Group_2 {
	position: absolute;
	width: 91.267px;
	height: 17.265px;
	left: 67.087px;
	top: 14.669px;
	overflow: visible;
}
#Path_17 {
	fill: rgba(255,255,255,1);
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 16.734px;
	height: 17.265px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
	fill: rgba(255,255,255,1);
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 17.746px;
	height: 16.734px;
	left: 18.084px;
	top: 0.381px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_19 {
	fill: rgba(255,255,255,1);
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 12.415px;
	height: 16.504px;
	left: 37.3px;
	top: 0.381px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
	fill: rgba(255,255,255,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 6.728px;
	height: 16.504px;
	left: 50.961px;
	top: 0.381px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
	fill: rgba(255,255,255,1);
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 17.751px;
	height: 16.734px;
	left: 59.112px;
	top: 0.381px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	fill: rgba(255,255,255,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 13.116px;
	height: 16.504px;
	left: 78.151px;
	top: 0.381px;
	transform: matrix(1,0,0,1,0,0);
}
#phone-solid {
	fill: rgba(255,255,255,1);
}
.phone-solid {
	overflow: visible;
	position: absolute;
	width: 21.968px;
	height: 21.968px;
	left: 284.393px;
	top: 43px;
	transform: matrix(1,0,0,1,0,0);
}
#bars-solid {
	fill: rgba(255,255,255,1);
}
.bars-solid {
	overflow: visible;
	position: absolute;
	width: 25.107px;
	height: 21.968px;
	left: 330px;
	top: 43px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_4 {
	fill: rgba(242,182,0,1);
}
.Rectangle_4 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.243));
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 83px;
	left: 40px;
	top: 365px;
}
#Online_Degree_Programs {
	left: 40px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -1px;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(255,255,255,1);
	letter-spacing: -0.1px;
}
#With_Peru_State_College_You_Ca {
	left: 31px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,40,86,1);
	letter-spacing: -0.1px;
}
#Nationally_Recognized {
	left: 58px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Affordable_Tuition {
	left: 58px;
	top: 290px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Generous_Transfer_Policy {
	left: 58px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#check-solid {
	fill: rgba(255,255,255,1);
}
.check-solid {
	overflow: visible;
	position: absolute;
	width: 10.404px;
	height: 7.758px;
	left: 40.46px;
	top: 266.744px;
	transform: matrix(1,0,0,1,0,0);
}
#check-solid_bs {
	fill: rgba(255,255,255,1);
}
.check-solid_bs {
	overflow: visible;
	position: absolute;
	width: 10.404px;
	height: 7.758px;
	left: 40.46px;
	top: 292.744px;
	transform: matrix(1,0,0,1,0,0);
}
#check-solid_bt {
	fill: rgba(255,255,255,1);
}
.check-solid_bt {
	overflow: visible;
	position: absolute;
	width: 10.404px;
	height: 7.758px;
	left: 40.46px;
	top: 318.744px;
	transform: matrix(1,0,0,1,0,0);
}
#With_Peru_State_College_Online {
	left: 16px;
	top: 520px;
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 129px;
	line-height: 18px;
	margin-top: -2px;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(52,52,52,1);
	letter-spacing: -0.1px;
}
#Path_23 {
	fill: transparent;
	stroke: rgba(227,227,227,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_23 {
	overflow: visible;
	position: absolute;
	width: 375.961px;
	height: 1px;
	left: 0px;
	top: 665.514px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_8 {
	position: absolute;
	width: 268.901px;
	height: 15.853px;
	left: 53px;
	top: 6px;
	overflow: visible;
}
#Classes_Start_June_8th_Apply_T {
	left: 22.901px;
	top: 0.853px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	text-align: left;
	font-family: Myriad Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#calendar-alt-regular {
	fill: rgba(255,255,255,1);
}
.calendar-alt-regular {
	overflow: visible;
	position: absolute;
	width: 12.719px;
	height: 14.536px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#LEARN_MORE {
	left: 122px;
	top: 378px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,40,86,1);
	letter-spacing: 0.15px;
}