.videoSection{
	
	@media(min-width:768px){
		display: grid;
		grid-template-columns: minmax(0,725px) calc(340px + 5%);
		justify-content: center;
	}
	&.fullwidth {
		background: #efefef;
		margin: 1rem 0 -1.2rem;
		text-align: center;
		.video-thumb {
			position: relative;
			cursor: pointer;
			margin: 0 auto;
			max-width:450px;
			svg {
			    position: absolute;
			    top: calc(50% - 25vw);
			    left: calc(50% - 25vw);
			    font-size: 50vw;
			    z-index: 1000;
			    opacity: .5;
			    @media(min-width:768px){
					top: calc(50% - 8vw);
				    left: calc(50% - 8vw);    
				    font-size: 17vw;
			    }
			}
			img {
				width: 100%;
				height: auto;

			}
		}

	}
}
header.video-overlay {
	z-index: 0;
}