@import "../_variables.scss";
.darkbluebutton{
	background-color:$brandmediumblue;
	color:$brandmediumblue;
}
.darkgrey{
	color:$mediumgray;
}
.mobile-only{
	display:none!important;
}
a{
	&.button{
	    text-align: center;
	    text-decoration: none;
	    padding: .8rem 0;
	}
}
@media (max-width:1024px){
	.mobile-only{
		display:block!important;
	}
	.desktop-only{
		display:none!important;
	}
}

header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:100;
	height:60px;
	background: #006699;
	background: -moz-linear-gradient(top,  #006699 0%, #003478 150%);
	background: -webkit-linear-gradient(top,  #006699 0%,#003478 150%);
	background: linear-gradient(to bottom,  #006699 0%,#003478 150%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#003478',GradientType=0 );
	.headerContainer{
		display:grid;
		grid-template: 1fr/1fr 1fr;
		max-width:1200px;
		margin: 0 auto;
		align-items:center;
		height:100%;

		.logobox{
			width:160px;
		}
		.buttonContainer{
			justify-self:end;
			padding-right:1rem;
			margin-right:1rem;
				@media (max-width: 1024px) {
					.buttonField{
						display:none;
						}
				}
			.button{
				&#apply-now{
					display:none;
					@media (min-width:1024px){
						display:block;
						box-shadow:1px 3px 6px rgba(0,0,0,.5);
						padding:.3rem;
					}
				}
			}
		}

		
	}
	
}

	
@supports (position: fixed){
	.main-menu,
	.main-menu.opened + .backdrop,
	.main-menu[aria-expanded="true"] + .backdrop{
		position:fixed;
	}
}

