@import "../_variables.scss";
.darkbluebutton{
	background-color:$brandmediumblue;
	color:$brandmediumblue;
}
.darkgrey{
	color:$mediumgray;
}
.mobile-only{
	display:none!important;
}
a{
	&.button{
	    text-align: center;
	    text-decoration: none;
	    padding: .8rem 0;
	}
}
@media (max-width:768px){
	.mobile-only{
		display:block!important;
	}
	.desktop-only{
		display:none!important;
	}
}

header{
	background: #006699;
	background: -moz-linear-gradient(top,  #006699 0%, #003478 150%);
	background: -webkit-linear-gradient(top,  #006699 0%,#003478 150%);
	background: linear-gradient(to bottom,  #006699 0%,#003478 150%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#003478',GradientType=0 );

	.button{
		&#apply-now{
			display:none;
		}
	}
}
	.menu-toggle{
		display: inline-block;
	}

	.main-menu{
		position: absolute;
		display: none;
		right: -200px;
		top: 0;
		height: 100%;
		overflow-y: scroll;
		overflow-x: visible;
		transition: left 0.3s ease,
			box-shadow 0.3s ease;
		z-index: 999;
		width:80%;
		max-width:300px;
		.button{
			&#apply-now{
				display:block;
				width:80%;
				margin:0 auto;
			}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			/* Hide shadow w/ -8px while 'closed' */
			-webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
			 -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
			      box-shadow: -8px 0 8px rgba(0,0,0,.5);
			min-height: 100%;
			width: 100%;
			background: #1a1a1a;
			a{
				display: block;
				padding: .75em 15px;
				line-height: 1em;
				font-size: 1em;
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid #383838;
				&:hover,
				&:focus{
					background: #333;
					text-decoration: underline;	
				}
			}
			li{
				&:first-child{
					a{
						border-top: 1px solid #383838;		
					}
				}
				&.buttonArea{
					text-align: center;
					margin: 1rem auto;
				}
				&.menu-back{
					a{
						display:grid;
						grid-template-columns: 17px 1fr;
						&::before{
							content: '\f053';
						    display: block;
						    width: 25px;
						    height: 1rem;
						    font-family: "Font Awesome 5 Free";
						
						}
						&::after{
							content:none;
						}
					}
				}
				&.top-level{
					&> div a{
						display:grid;
						grid-template-columns:1fr 17px;
						&::after{
							content: '\f054';
						    display: block;
						    width: 25px;
						    height: 1rem;
						    font-family: "Font Awesome 5 Free";

						} 
					}
				}
			}
		.menu-close{
			position:absolute;
			right:0;
			top:0;
		}
		}
	}
	.main-menu.opened,
	.main-menu[aria-expanded="true"]{
		  display: block;
		  right: 0;
		  outline: none;
		  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
		  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
		  box-shadow: 3px 0 12px rgba(0,0,0,.25);
		  .menu-close{
			z-index: 1001; 
			width: 20px;
			display: block;
			height: 28px;
			font-size: 25px;
		  }
		  ul{
			 // position: relative;
			  z-index:1000;
		  }
		  & + .backdrop{
			  position: absolute;
			  display: block;  
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			  z-index: 998;
			  background: #000;
			  background: rgba(0,0,0,.85);
			  cursor: default;
		  }
	}
	
@supports (position: fixed){
	.main-menu,
	.main-menu.opened + .backdrop,
	.main-menu[aria-expanded="true"] + .backdrop{
		position:fixed;
	}
}
/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
	header{
		.button{
			&#apply-now{
				display:block;
				box-shadow:1px 3px 6px rgba(0,0,0,.5);
			}
		}
	}
  .menu-toggle,
  .main-menu {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    	position: relative;
		left: auto;
		top: auto;
		height: auto;	    
		ul {
		    display: flex;
		    
		    /* Undo off-canvas styling */
		    padding: 0;
		    -webkit-box-shadow: none;
		       -moz-box-shadow: none;
		            box-shadow: none;
		    height: auto;
		    width: auto;
		    background: none;
	  }
	  a {
	    color: #06c;
	    border: 0 !important; /* Remove borders from off-canvas styling */
	    &:hover,
		&:focus {
	    	background: none; /* Remove background from off-canvas styling */
			color: #c00;
			}
	  }
  }
 }