/***BRAND COLORS AND STYLES***/
/****COLORS****/
$primaryblue:#00aeef; 
$brandblue:#006699;
$brandmediumblue:#003478;
$secondaryblue: #0e356f;
$darkblue: #002856;
$lightgray: #cccccc;
$perulightgray: #e5e5e5;
$shade:#efefef;
$mediumgray:#666;
$darkgray: #191919;
$actiongold: #fec413;
/***FONTS***/
$sans-serif:sans-serif;
$brandfont:'Open Sans';

