@import "./_variables";
f{
	width:auto;
	font-size:1rem;
}
html {
  font-family: $sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:$sans-serif;
}

h1,h2,h3,h4{
	text-align: center;
	color:$brandmediumblue;
	font-family:$sans-serif;
	margin-top:0;
	margin-bottom:1rem;
}
h1{
	font-size:11vw;
	line-height: 12vw;
	@media (min-width:1024px){
		font-size:3rem;
		line-height: 1.4;
	}
}
h2{
	font-size:2.4rem;
	line-height: 120%;
	@media (min-width:1024px){
		font-size:2.5rem;
		line-height: 1.4;
	}

}
h3{
	font-size:1.9375rem;
	line-height: 1.25;
}
h4{
	font-size:1.5625rem;
	line-height: 1.4;
}
p{
	margin-top:0;
	margin-bottom:1rem;
	font-size:1rem;
	line-height:1.4;
	text-rendering: optimizeLegibility;
	font-family:$sans-serif;
	@media (min-width:1024px){
		
	}
}
li{
	font-size:1rem;
	line-height:1.4;
	font-family:$sans-serif;
}
.show{
	display:block;
	opacity: 1;
	transition:.5s;
}
header.singleProgramPage{
		.menu-toggle{
			display:none;
		}
	}
.singleProgramPage{
	position:fixed;
	overflow:scroll;
	height:100vh;
	top:60px;
	main{
		overflow-y:visible;
		display:grid;
		grid-template:auto/1fr;
		@media (min-width: 768px) {
			grid-template:1fr/auto;
			padding-bottom:70px;
		}
	}
	section{
		margin:0;
		padding: 0 1rem;	
		@media (min-width:7678px){
			margin:0px 0px 0px 2rem;
			max-width:100%;
		}
		overflow:hidden;
		grid-column:1;
		margin-top:0;
		padding-bottom:1rem;
		@media (min-width: 768px) {
			grid-column:1/2;
			grid-row:1;
		}
	}
	.button{
		text-transform:uppercase;
		font-weight:800;
		   font-family: $sans-serif;
		   font-size:1.3rem;
		-webkit-transition:.5s;
		transition:.5s;
		border: none;
	    padding: .3rem .8rem;
	    margin:0 auto;
	    border-radius: 3px;
	    display: block;
	 
		
		&.primary{
			background-color:$actiongold;
			color:$darkblue;
			&:hover{
				background-color:$secondaryblue;
				color:white;
			}
		}
		&.secondary{
			background-color:$primaryblue;
			color:$darkblue;
			&:hover{
				background-color:$secondaryblue;
				color:white;
			}
		}
		&.tertiary{
			background-color:$darkblue;
			color:white;
			&:hover{
				background-color:$brandblue;
				color:white;
			}
		}
		&.action{
			background-color:$actiongold;
			color:$darkblue;
			&:hover{
				background-color:$secondaryblue;
				color:white;
			}
		}
	}
	.formPanel{
		.button{
			margin:1.5rem 0 1rem;
			padding:0;
		}
	}
	
	nav{
		&.mobileBottomBar{
			width:100%;
			background:#006699;
			position:fixed;
			bottom:-300px;
			height:65px;
			display:grid;
			grid-template-columns: 1fr 1fr;
			align-items:center;
			justify-items:center;
			z-index:30000;
			transition:bottom .5s;
			padding-left:82px;
			padding-right:10px;
			&>div{
			    width: 100%;
			    text-align: center;
		        padding: 0 5px;
				.button{
					font-size:1rem;
					height:75%;
					width:100%;
					padding:.6rem;
					}
				}
			@media(min-width:768px){
				display:none;
				}
			&.expose{
				bottom:0px;		
			}
		}
	}
}
section{
	padding:3rem 1rem 3rem;
	section > section{
		padding:0;
	}
}
.desktop-shim{
	@media (min-width:1024px){
		width:100%;
		margin: 0 auto;
	}
}
.formPanel{
	font-size:3rem;
	@media (max-width:1290px){
		left:850px;
	}
}
.singleprogramlayout__Page-emqmqj .accolades{
	display:none;
	@media (min-width:1024px){
		display:grid;
	}
}
/***SCREEN READER ONLY***/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

