/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
f {
  width: auto;
  font-size: 1rem;
}

html {
  font-family: myriad-pro, "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: myriad-pro, "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
  color: #003478;
  font-family: myriad-pro, "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 11vw;
  line-height: 12vw;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    line-height: 1.4;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 120%;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    line-height: 1.4;
  }
}

h3 {
  font-size: 1.9375rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.5625rem;
  line-height: 1.4;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-family: myriad-pro, "Open Sans", sans-serif;
}

li {
  font-size: 1rem;
  line-height: 1.4;
  font-family: myriad-pro, "Open Sans", sans-serif;
}

.show {
  display: block;
  opacity: 1;
  transition: .5s;
}

header.singleProgramPage .menu-toggle {
  display: none;
}

.button {
  text-transform: uppercase;
  font-weight: 800;
  font-family: myriad-pro, "Open Sans", sans-serif;
  font-size: 1.3rem;
  -webkit-transition: .5s;
  transition: .5s;
  border: none;
  padding: 0.3rem 0.8rem;
  margin: 0 auto;
  border-radius: 3px;
  display: block;
}

.button.primary {
  background-color: #fec413;
  color: #002856;
}

.button.primary:hover {
  background-color: #0e356f;
  color: white;
}

.button.secondary {
  background-color: #00aeef;
  color: #002856;
}

.button.secondary:hover {
  background-color: #0e356f;
  color: white;
}

.button.tertiary {
  background-color: #002856;
  color: white;
}

.button.tertiary:hover {
  background-color: #006699;
  color: white;
}

.button.action {
  background-color: #fec413;
  color: #002856;
}

.button.action:hover {
  background-color: #0e356f;
  color: white;
}

.pageContainer {
  position: fixed;
  overflow: scroll;
  height: 100vh;
  top: 60px;
}

.pageContainer main {
  overflow-y: visible;
  display: grid;
  grid-template: auto/1fr;
}

@media (min-width: 768px) {
  .pageContainer main {
    grid-template: 1fr/auto;
    padding-bottom: 70px;
  }
}

.pageContainer .formPanel .button {
  margin: 1.5rem 0 1rem;
  padding: 0;
}

.pageContainer .contentArea {
  margin: 0;
  padding: 0 1rem;
  overflow: hidden;
  grid-column: 1;
  margin-top: 0;
  padding-bottom: 1rem;
}

@media (min-width: 7678px) {
  .pageContainer .contentArea {
    margin: 0px 0px 0px 2rem;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .pageContainer .contentArea {
    grid-column: 1/2;
    grid-row: 1;
  }
}

.pageContainer nav.mobileBottomBar {
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0px;
  height: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  z-index: 30000;
  padding-left: 70px;
  padding-right: 10px;
}

.pageContainer nav.mobileBottomBar > div {
  width: 100%;
  text-align: center;
  padding: 0 5px;
}

.pageContainer nav.mobileBottomBar > div .button {
  font-size: 1rem;
  height: 42px;
  width: 100%;
  padding: .6rem;
}

@media (min-width: 768px) {
  .pageContainer nav.mobileBottomBar {
    display: none;
  }
}

section {
  margin: 0;
  grid-column: 1;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  section {
    grid-column: 1/2;
    grid-row: 1;
    margin: 0px 0px 0px 2rem;
    max-width: 100%;
  }
}

section section > section {
  padding: 0;
}

@media (min-width: 1024px) {
  .desktop-shim {
    width: 100%;
    margin: 0 auto;
  }
}

.formPanel {
  font-size: 3rem;
  margin-left: -1rem;
  width: 110%;
}

@media (max-width: 1290px) {
  .formPanel {
    left: 850px;
    margin-left: 0;
    width: 100%;
  }
}

.singleprogramlayout__Page-emqmqj .accolades {
  display: none;
}

@media (min-width: 1024px) {
  .singleprogramlayout__Page-emqmqj .accolades {
    display: grid;
  }
}

/***SCREEN READER ONLY***/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
