@import "./_variables";
.transferLayout{
	.content-wrapper > div > .tabbedArea{
		grid-template-columns:1fr;
	}
	.mainArea{
		&.singleProgram{
			grid-template-columns:minmax(0, 800px) calc(340px + 5%);
			justify-content: center;
		}
		&.introduction-section {
			padding-bottom: 0px;
		}

	}
	.HeroBox{
		.desktop-shim{
			grid-row-gap:.8rem;
			h1 {
				align-self: end;
			    margin: 0 auto 0;
				@media (min-width: 1024px){
					font-size: 3rem;
				    line-height: 1.2;

				    width: 100%;
				   
				}
			}
			h2.HeroSubHeadline {
					font-size: 7.5vw;
				    font-weight: 700;
				    line-height: 1.1;
				    color: white;
				    z-index: 2;
				    text-shadow: rgba(0, 0, 0, 0.5) -3px 3px 10px;
				    grid-column: 2;
				    grid-row: 2;
				@media (min-width: 1024px){
				    font-size: 3rem;
				    line-height: 1.2;
				    margin: 0 auto 1.5rem;
				    width: 100%;

				}
			}
			&.special-insert .specialty-badge{
				grid-row:1/3;
			}
		}	    
	}
	.testimonialarea{
		grid-template-rows:1fr;
		padding:1rem;
		text-align:center;
		.desktop-shim{
			grid-template: auto/1fr;
			justify-items:center;
			@media(min-width:768px){
				justify-items: inherit
			}
			svg{
				width:100px;
				height:auto;
				justify-self:center;
				path{
					fill:white;
	
				}
			}		
		}
	}
}