@import "./_variables";

.tabbedArea{
	grid-template-columns:1fr;
}

.testimonialarea{
	grid-template-rows:1fr;
	padding:1rem;
	.desktop-shim{
		grid-template: auto/1fr;
		justify-items:center;
		@media(min-width:768px){
			justify-items: inherit
		}
		svg{
			width:100px;
			height:auto;
			justify-self:center;
			path{
				fill:white;

			}
		}		
	}
}