/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.awards-area {
  grid-template: auto/minmax(0, 850px);
  justify-items: center;
  justify-content: center;
  display: grid;
  padding: 3rem 0;
  margin: 0 0 0 -0.5rem;
  background-color: white;
}

@media (min-width: 1024px) {
  .awards-area {
    display: grid;
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .awards-area {
    grid-template-columns: minmax(0, 725px) calc(340px + 5%);
  }
}

@media (min-width: 1024px) and (min-width: 1401px) {
  .awards-area {
    grid-template-columns: minmax(0, 800px) calc(340px + 5%);
  }
}

.awards-area h3 {
  margin: 0 auto 2rem;
}

.awards-area .iconGrid {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  grid-gap: 2rem;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .awards-area .iconGrid {
    padding: 0;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(130px, 30%));
    grid-auto-flow: column;
    grid-auto-columns: 130px;
    justify-content: center;
  }
}

.awards-area .iconGrid > div {
  display: grid;
  grid-column-gap: 1rem;
  align-items: center;
  width: 100%;
  justify-items: center;
  margin: 0.5rem auto 0.5rem;
  z-index: 2;
}

.awards-area .iconGrid > div .iconBox {
  grid-row: 1/2;
  grid-column: 1;
  width: 150px;
  height: auto;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template: 1fr/1fr;
}

@media (min-width: 768px) {
  .awards-area .iconGrid > div .iconBox {
    width: 130px;
  }
}

.awards-area .iconGrid > div .iconBox img {
  width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
}

.awards-area .iconGrid > div p {
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  grid-row: 2/3;
  grid-column: 1;
  text-align: center;
  justify-self: center;
}

@media (min-width: 768px) {
  .awards-area .iconGrid > div {
    grid-template: 130px auto/1fr;
    justify-items: center;
    margin: 1rem auto;
    max-width: none;
  }
}
