@import '../_variables.scss';

.awards-area{
	grid-template: auto/minmax(0,850px);
	justify-items: center;
	justify-content: center;
	display:grid;
	padding:3rem 0;
	margin:0 0 0 -.5rem;
	background-color:white;
	@media (min-width:1024px){
		@include section-shim;
	}
	h3{
		margin:0 auto 2rem;
	}	
	.iconGrid{
		display:grid;
		grid-template-rows: 1fr;
		justify-items:center;
		justify-content:center;
		grid-gap:2rem;
		margin:0 auto;
		padding:0;
		width:100%;
	
		@media (min-width:768px){
		    padding: 0;
		    width: 100%;
		    grid-template-columns:repeat(auto-fit,minmax(130px, 30%));
		    grid-auto-flow: column;
		    grid-auto-columns: 130px;
		    justify-content: center;
		}
		&>div{
			display:grid;
			grid-column-gap:1rem;
			align-items:center;
			width:100%;
			justify-items:center;
			margin: .5rem auto .5rem;
			z-index:2;
		
			.iconBox{
				grid-row:1/2;
				grid-column:1;
				width:150px;
				height:auto;
				align-content:center;
				justify-content:center;
				display:grid;
				grid-template:1fr/1fr;
				@media (min-width:768px){
					width:130px;
					
					}
				img{
					width:100%;
					height:auto;
					align-self:center;
					justify-self:center;
					grid-column:1;
					grid-row:1;
					}
			}
			p{
				color:black;
				font-size:1.5rem;
				font-weight: 800;
				grid-row:2/3;
				grid-column:1;
				text-align:center;
				justify-self:center;
			}
			@media (min-width:768px){
				grid-template:130px auto/1fr;
				justify-items:center;
				margin: 1rem auto;
				max-width:none;
			}
		}
	}
}
