/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.awards-area {
  grid-template: auto/minmax(0, 850px);
  justify-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .awards-area {
    display: grid;
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .awards-area {
    grid-template-columns: minmax(0, 725px) calc(340px + 5%);
  }
}

@media (min-width: 1024px) and (min-width: 1401px) {
  .awards-area {
    grid-template-columns: minmax(0, 800px) calc(340px + 5%);
  }
}
