/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.footer {
  display: grid;
  grid-template: auto/1fr;
  grid-row-gap: 1rem;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  padding: 1rem 1rem 175px;
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .footer {
    grid-template-columns: minmax(0, 725px) calc(340px + 5%);
  }
}

@media (min-width: 768px) and (min-width: 1401px) {
  .footer {
    grid-template-columns: minmax(0, 800px) calc(340px + 5%);
  }
}

@media (min-width: 768px) {
  .footer .desktop-shim {
    display: grid;
    grid-template: 1fr/1fr auto;
    grid-column: 1/2;
    justify-items: start;
  }
}
