/***BRAND COLORS AND STYLES***/
/****COLORS****/
/***FONTS***/
.testimonialarea {
  color: white;
  background-color: #666;
  margin: 0 -1rem;
}

@media (min-width: 768px) {
  .testimonialarea {
    display: grid;
    justify-content: center;
    grid-template-rows: 1px auto;
  }
  .testimonialarea::before {
    content: '';
    height: 0;
    width: 2000px;
    grid-column: 1/3;
    grid-row: 1;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .testimonialarea {
    grid-template-columns: minmax(0, 725px) calc(340px + 5%);
  }
}

@media (min-width: 768px) and (min-width: 1401px) {
  .testimonialarea {
    grid-template-columns: minmax(0, 800px) calc(340px + 5%);
  }
}

@media (min-width: 768px) {
  .testimonialarea .desktop-shim {
    display: grid;
    grid-template: 1fr/300px auto;
    align-items: center;
    grid-column-gap: 2rem;
  }
}

.testimonialarea-content {
  color: white;
  font-size: 1.6rem;
}

.testimonialarea-content blockquote {
  text-align: center;
  line-height: 1.3;
  font-size: 1.5rem;
  border-bottom: solid 1px #cccccc;
  padding-bottom: 1.8rem;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 768px) {
  .testimonialarea-content blockquote {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 1rem;
  }
}

.testimonialarea-content p {
  text-align: center;
  line-height: 1.3;
  margin-top: 1rem;
}

.testimonialarea-content p span {
  font-size: 1.2rem;
  font-weight: 600;
}

.testimonialarea-image-box {
  overflow: hidden;
  width: 275px;
  height: 275px;
  margin: 1rem auto;
  border-radius: 50%;
}

.testimonialarea-image-box img {
  width: 100%;
  height: auto;
}
