:root {
  --file-icon-size: 4rem;
}

.file-view {
  display: grid;
  /*grid-template-columns: var(--file-icon-size) auto;
  grid-column-gap: 1rem;
  grid-template-rows: var(--file-icon-size) auto;*/
}

.file-view.image-file {
  grid-template-rows: 1fr minmax(40%, 1fr);
  /*grid-column-gap: 2rem;*/
}

.file-view.image-file header {
  background:#f2f2f2 no-repeat center center;
  background-size: contain;
      height: 20rem;
}

.file-view.non-image-file header .file-type-icon svg {
  width: var(--file-icon-size);
  height: var(--file-icon-size);
}

.file-view .details .filename {
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-view .details main{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(1rem, auto));
}
.file-view .details .row {
  color: #555;
}

.file-view .details strong {
  font-weight: 700;
}

.file-view .buttonset {
  margin-top: 1rem;
}

.file-view .buttonset .button {
  margin-left: 0.5rem;
}

.file-view .buttonset .button:first-child {
  margin-left: 0;
}

.file-view img {
  height: 100%;
}
.dropzone {
    margin-top: 1.5rem;
}
.details .buttonset{
	grid-column: 1/3;
	display: grid;
	grid-template-columns: auto 20%;
}
