@import "../_variables";

.callout{
	background-color:$brandblue;
	padding: .5rem;
	margin: 0 -1rem;
	
	text-align: center;
	@media (min-width:1024px){
		display:grid;
		grid-template-columns: minmax(0, 725px) calc(340px + 5%);
		@include section-shim;
		
		.desktop-shim>*{
			display:inline-block;
			vertical-align: middle;
		}
	}
	.desktop-shim{
		display: grid;
	    grid-template-columns: 50px 1fr;
	    width: 95%;
	    margin: 0 auto;
	    align-items: center;
	    @media (min-width:1024px){
		    display:block;
	    }
	}
	.iconBox{
		width:45px;
		height:45px;
		display: inline-block;
		vertical-align: middle;
		margin-right:.2rem;
		@media (min-width:1024px){
			display:inline-block;
			/*height:45px;
			width:45px;*/
			margin-right:0;
		}
		svg{
			height:45px;
			width:45px;
			margin:-5px 0 0 -5px;
			@media(min-width:1024px){
				/*width:60px;
				height:60px;*/
				margin:0;
			}
		}
	}
	h3{
		display: inline-block;
		vertical-align: middle;
		color:white;
		margin:0;
		text-shadow: 3px 3px 3px rgba(0,0,0,.3);
		font-size:5.5vw;
		@media(min-width:1024px){
			display:block;
			font-size:1.5rem;
		}
	}
}