@import '../_variables';

.content-dialog{
	top:90px;
}
.has-background-perumediumblue{
	background-color: $secondaryblue;
}
.has-background-perushade{
	background-color: $shade;
}
.has-text-color-white{
	color:white;
	*{
		color:white;	
	}
}
.content-wrapper{
	padding:0;
	display:grid;
	@media (min-width:1024px){
		padding: 1rem;
		grid-template-columns: minmax(0,725px) calc(340px + 5%);
	}
	.desktop-shim > section{
		padding:0;
		h3{
			text-transform:capitalize;
			text-align:center;
			margin-bottom:1.3rem;
			@media (min-width:1024px){
				text-align:left;
			}
		}
		 h4{
		    text-align:center;
		    font-size: 1.5625rem;
			color:black;
		    margin-bottom:1.3rem;
		    text-transform: capitalize;
		    @media (min-width:1024px){
			    text-align: left;
			   
		    }
	    }
	    .program-details-area{
		    h4{
			    color:white;
		    }
		}
	}
	&.section-columns{
		&-2{
			&>div{
				display:grid;
				grid-template-columns:1fr/ 50% 50%;
				&>section{
					grid-column: auto;
					padding: 1rem 1.5rem;
					margin:0;
				}
			}
		}
	}
}